@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-red-700; /* Apply your custom class */
    /* font-family: "Raleway"; */
    background-color: white;
    background: url("Body.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input{
    @apply shadow-lg;
}
